In [79]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 99%; }
    div#menubar-container     { width: 65%; }
    div#maintoolbar-container { width: 99%; }
</style>
"""))

In [1]:
import findspark

findspark.init()

In [2]:
import pyspark
sc = pyspark.SparkContext('local[*]')

In [4]:
from pyspark.sql import*

In [5]:
sqlContext = SQLContext(sc)

In [54]:
df = sqlContext.read.csv('oil-production-by-country.csv', header=True)

In [9]:
sqlContext.read.csv?

In [7]:
df.count()

9562

In [11]:
df.show()

+------+----+----+--------------------+
|Entity|Code|Year|Oil production (TWh)|
+------+----+----+--------------------+
|Africa|null|1900|                   0|
|Africa|null|1901|                   0|
|Africa|null|1902|                   0|
|Africa|null|1903|                   0|
|Africa|null|1904|                   0|
|Africa|null|1905|                   0|
|Africa|null|1906|                   0|
|Africa|null|1907|                   0|
|Africa|null|1908|                   0|
|Africa|null|1909|                   0|
|Africa|null|1910|                   0|
|Africa|null|1911|               0.035|
|Africa|null|1912|               0.326|
|Africa|null|1913|               0.151|
|Africa|null|1914|               1.163|
|Africa|null|1915|               0.349|
|Africa|null|1916|               0.686|
|Africa|null|1917|               1.605|
|Africa|null|1918|               3.291|
|Africa|null|1919|               2.617|
+------+----+----+--------------------+
only showing top 20 rows

In [21]:
df[['Entity']].dropDuplicates? #.show()

SyntaxError: invalid syntax (<ipython-input-21-fbe8285d43e9>, line 1)

In [30]:
dir(df[['Entity']])

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_jcols',
 '_jdf',
 '_jmap',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_sort_cols',
 '_support_repr_html',
 '_to_corrected_pandas_type',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'inputFiles',
 'intersect',
 'intersectAll',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'mapInPandas',
 'na',
 'orderBy',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sameSemantics',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'semanticHash',
 'show',
 'sort',
 'sortWithinPartitions',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'tail',
 'take',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'transform',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withWatermark',
 'write',
 'writeStream',
 'writeTo']

In [36]:
df[['Entity']].dropDuplicates().collect()

[Row(Entity='Chad'),
 Row(Entity='Paraguay'),
 Row(Entity='Russia'),
 Row(Entity='World'),
 Row(Entity='Yemen'),
 Row(Entity='Senegal'),
 Row(Entity='Sweden'),
 Row(Entity='Burma'),
 Row(Entity='Eritrea'),
 Row(Entity='Malaysia'),
 Row(Entity='Turkey'),
 Row(Entity='Iraq'),
 Row(Entity='Europe'),
 Row(Entity='Germany'),
 Row(Entity='Eurasia'),
 Row(Entity='Cambodia'),
 Row(Entity='Ivory Coast'),
 Row(Entity='Jordan'),
 Row(Entity='Sudan'),
 Row(Entity='France'),
 Row(Entity='Greece'),
 Row(Entity='Kosovo'),
 Row(Entity='Africa'),
 Row(Entity='Algeria'),
 Row(Entity='Equatorial Guinea'),
 Row(Entity='Togo'),
 Row(Entity='Argentina'),
 Row(Entity='Angola'),
 Row(Entity='Ecuador'),
 Row(Entity='Qatar'),
 Row(Entity='Albania'),
 Row(Entity='Ghana'),
 Row(Entity='Nicaragua'),
 Row(Entity='Benin'),
 Row(Entity='Peru'),
 Row(Entity='China'),
 Row(Entity='India'),
 Row(Entity='United States'),
 Row(Entity='Kuwait'),
 Row(Entity='Malta'),
 Row(Entity='Central and South America'),
 Row(Entity='Chile'),
 Row(Entity='Tajikistan'),
 Row(Entity='Other S. & Cent. America'),
 Row(Entity='Other CIS'),
 Row(Entity='Bolivia'),
 Row(Entity='Nigeria'),
 Row(Entity='Gabon'),
 Row(Entity='Italy'),
 Row(Entity='Suriname'),
 Row(Entity='Norway'),
 Row(Entity='South & Central America'),
 Row(Entity='Turkmenistan'),
 Row(Entity='Spain'),
 Row(Entity='Cuba'),
 Row(Entity='North America'),
 Row(Entity='Denmark'),
 Row(Entity='Niger'),
 Row(Entity='Bangladesh'),
 Row(Entity='Iran'),
 Row(Entity='Congo'),
 Row(Entity='Thailand'),
 Row(Entity='Morocco'),
 Row(Entity='Panama'),
 Row(Entity='Venezuela'),
 Row(Entity='Israel'),
 Row(Entity='Oman'),
 Row(Entity='Gibraltar'),
 Row(Entity='Other Africa'),
 Row(Entity='Other Middle East'),
 Row(Entity='Uruguay'),
 Row(Entity='Mexico'),
 Row(Entity='Persian Gulf'),
 Row(Entity='Georgia'),
 Row(Entity='Montenegro'),
 Row(Entity='Zimbabwe'),
 Row(Entity='Indonesia'),
 Row(Entity='Guatemala'),
 Row(Entity='Mongolia'),
 Row(Entity='Azerbaijan'),
 Row(Entity='Libya'),
 Row(Entity='Armenia'),
 Row(Entity='Tunisia'),
 Row(Entity='Honduras'),
 Row(Entity='Syria'),
 Row(Entity='Middle East'),
 Row(Entity='Trinidad and Tobago'),
 Row(Entity='OPEC'),
 Row(Entity='Saudi Arabia'),
 Row(Entity='OECD'),
 Row(Entity='Namibia'),
 Row(Entity='Zambia'),
 Row(Entity='Ethiopia'),
 Row(Entity='Jamaica'),
 Row(Entity='Brunei'),
 Row(Entity='Europe (other)'),
 Row(Entity='South Sudan'),
 Row(Entity='United Arab Emirates'),
 Row(Entity='Canada'),
 Row(Entity='Kyrgyzstan'),
 Row(Entity='USSR'),
 Row(Entity='Uzbekistan'),
 Row(Entity='Mozambique'),
 Row(Entity='Brazil'),
 Row(Entity='CIS'),
 Row(Entity='Kenya'),
 Row(Entity='Lebanon'),
 Row(Entity='Dominican Republic'),
 Row(Entity='Botswana'),
 Row(Entity='Japan'),
 Row(Entity='Other Asia & Pacific'),
 Row(Entity='Asia Pacific'),
 Row(Entity='Haiti'),
 Row(Entity='Poland'),
 Row(Entity='Asia and Oceania'),
 Row(Entity='Australia'),
 Row(Entity='Cameroon'),
 Row(Entity='Romania'),
 Row(Entity='Bulgaria'),
 Row(Entity='EU-28'),
 Row(Entity='Austria'),
 Row(Entity='Nepal'),
 Row(Entity='Egypt'),
 Row(Entity='El Salvador'),
 Row(Entity='Kazakhstan'),
 Row(Entity='Serbia'),
 Row(Entity='Bahrain'),
 Row(Entity='Colombia'),
 Row(Entity='Hungary'),
 Row(Entity='Pakistan'),
 Row(Entity='Mauritius'),
 Row(Entity='United Kingdom'),
 Row(Entity='Vietnam'),
 Row(Entity='Netherlands')]

In [55]:
df = df.withColumn('Oil production (TWh)', df['Oil production (TWh)'].cast('float'))

In [80]:
no_country = ['OECD', 'North America', 'Central and South America', 'South & Central America','Europe', 'Africa', 'Asia and Oceania', 'OPEC', 'Eurasia', 'Persian Gulf', 'Middle East', 'EU-28']

In [81]:
df_filter = df.where((~df.Entity.isin(no_country)) & (df.Year >= 1939) & (df.Year <= 1945))
df_filter.where(~df.Entity.like("% and %")).show()

+-------+----+----+--------------------+
| Entity|Code|Year|Oil production (TWh)|
+-------+----+----+--------------------+
|Albania| ALB|1939|                1.64|
|Albania| ALB|1940|               2.628|
|Albania| ALB|1941|               2.349|
|Albania| ALB|1942|               2.814|
|Albania| ALB|1943|               1.756|
|Albania| ALB|1944|               0.582|
|Albania| ALB|1945|               0.465|
|Algeria| DZA|1939|                 0.0|
|Algeria| DZA|1940|                 0.0|
|Algeria| DZA|1941|                 0.0|
|Algeria| DZA|1942|                 0.0|
|Algeria| DZA|1943|                 0.0|
|Algeria| DZA|1944|               0.012|
|Algeria| DZA|1945|                 0.0|
| Angola| AGO|1939|                 0.0|
| Angola| AGO|1940|                 0.0|
| Angola| AGO|1941|                 0.0|
| Angola| AGO|1942|                 0.0|
| Angola| AGO|1943|                 0.0|
| Angola| AGO|1944|                 0.0|
+-------+----+----+--------------------+
only showing top 20 rows

In [82]:
df_filter.count()

427

In [83]:
df_agg = df_filter.groupBy('Entity').sum('Oil production (TWh)').withColumnRenamed("sum(Oil production (TWh))", "Total_production")

In [84]:
df_agg.show()

+-----------+--------------------+
|     Entity|    Total_production|
+-----------+--------------------+
|     Russia|  2423.4139862060547|
|     Sweden|                 0.0|
|      Burma|   44.07599949836731|
|   Malaysia|   4.966000080108643|
|     Turkey|                 0.0|
|       Iraq|    267.197998046875|
|    Germany|   63.01100015640259|
|Ivory Coast|                 0.0|
|     France|  4.8610000014305115|
|     Greece|                 0.0|
|    Algeria|0.012000000104308128|
|  Argentina|  261.05899810791016|
|     Angola|                 0.0|
|    Ecuador|  25.038999795913696|
|      Qatar|                 0.0|
|    Albania|   12.23399993777275|
|      Ghana|                 0.0|
|       Peru|  145.19999885559082|
|      China|  36.473000049591064|
|      India|   29.00499987602234|
+-----------+--------------------+
only showing top 20 rows

In [85]:
df_agg.orderBy?

In [87]:
df_agg.orderBy(col('Total_production').desc()).show()

+-------------+------------------+
|       Entity|  Total_production|
+-------------+------------------+
|United States|16194.159912109375|
|       Russia|2423.4139862060547|
|       Mexico| 468.8070068359375|
|      Romania|425.72700119018555|
|    Indonesia|417.44799613952637|
|         Iraq|  267.197998046875|
|    Argentina|261.05899810791016|
|     Colombia|230.86699867248535|
|         Peru|145.19999885559082|
|       Canada| 99.14700126647949|
|        Egypt| 92.87799882888794|
|      Bahrain| 76.79099941253662|
|      Germany| 63.01100015640259|
|      Austria| 56.31300091743469|
|       Brunei|51.171000242233276|
|      Hungary| 44.34699988365173|
|        Burma| 44.07599949836731|
|        China|36.473000049591064|
|       Poland| 30.76199960708618|
|        India| 29.00499987602234|
+-------------+------------------+
only showing top 20 rows

In [74]:
from pyspark.sql.functions import col, asc,desc

In [76]:
df_agg.orderBy(col('Total_production').desc()).show()

+--------------------+------------------+
|              Entity|  Total_production|
+--------------------+------------------+
|                OECD|16988.036865234375|
|       North America|16762.111083984375|
|       United States|16194.159912109375|
|                OPEC| 3832.414031982422|
|Central and South...| 3500.480987548828|
|             Eurasia|2423.4139862060547|
|              Russia|2423.4139862060547|
|        Persian Gulf| 1300.281997680664|
|         Middle East| 1300.281997680664|
|              Europe| 645.8499984741211|
|               EU-28| 630.6259918212891|
|    Asia and Oceania|  604.481990814209|
|              Mexico| 468.8070068359375|
|             Romania|425.72700119018555|
|           Indonesia|417.44799613952637|
|                Iraq|  267.197998046875|
|           Argentina|261.05899810791016|
|            Colombia|230.86699867248535|
|                Peru|145.19999885559082|
|              Canada| 99.14700126647949|
+--------------------+------------------+
only showing top 20 rows

In [67]:
df_filter.groupBy('Entity').agg(sum('Oil production (TWh)')).show()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
df.dropDuplicates(['Entity']).where(df.Entity == 'United States').show()

+-------------+----+----+--------------------+
|       Entity|Code|Year|Oil production (TWh)|
+-------------+----+----+--------------------+
|United States| USA|1900|              98.646|
+-------------+----+----+--------------------+

In [31]:
df[['Entity']].toPandas()

        Entity
0       Africa
1       Africa
2       Africa
3       Africa
4       Africa
...        ...
9556    Zambia
9557    Zambia
9558    Zambia
9559    Zambia
9560  Zimbabwe

[9561 rows x 1 columns]